[project]
	description = Cucumber test files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/troutea
[access "refs/for/refs/*"]
	read = group user/troutea
	push = group user/troutea
	label-Code-Review = -2..+2 group user/troutea
	label-Verified = -1..+1 group user/troutea
	rebase = group user/troutea
	removeReviewer = group user/troutea
	submit = group user/troutea
[access "refs/heads/*"]
	read = group user/troutea
	create = group user/troutea
	push = +force group user/troutea
	pushMerge = group user/troutea
[access "refs/tags/*"]
	push = +force group user/troutea
	pushTag = group user/troutea
	pushSignedTag = group user/troutea
